:root {
    --body-bg: #1C1C1C;
    --card-bg: #1F2937;
    --text-color: white;
    --medium-gray: #D5D4D8;
    --btn-color: #10B981;
    --green-text-color: #4ADF86;
    --password-bg: #273549;
    --password-color: #55F991;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-bg);
    font-family: "Karla", sans-serif;
    min-height: 100vh;
    color: var(--text-color);
    border: 1px solid var(--card-bg);
}

.card {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--card-bg);
    padding: 50px;
}

.card-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    width: 355px;
    letter-spacing: -2.5%;
    text-align: start;
    margin-bottom: 10px;
}

.text-highlight {
    color: var(--green-text-color);
}

.card-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--medium-gray);
    margin: 10px 0px 50px 0px;
}

.password-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    border-top: 1px solid #2F3E53;
    font-family: Inter, san-serif;
}

.password-display {
    padding: 4px 15px;
    margin: 40px 0px;
    background-color: var(--password-bg);
    color: var(--password-color);
    font-size: 16px;
    line-height: 32;
    letter-spacing: 0%;
}

#generate-password-btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 0px 35px 0px;
}