body {
    letter-spacing: 4px;
    color: #fafbf4;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 80px;
}

.a1{
    background: #b7111b;
    text-shadow: 5px 5px 10px #000;
    /*           ➡️   ⬇️ blur color */
}

.a2{
    background: whitesmoke;
    text-shadow: 0px 0px 2px #000;
    /*           ➡️   ⬇️ blur color */
}