body {
    background: white;
}

.main {
    margin-top: 100px;
}

.google-logo {
    display: block;
    width: 300px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}   

.google-search-bar {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

