body {
    background: white;
}

.main {
    margin-top: 100px;
}

.google-logo {
    display: block;
    width: 300px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}   

.google-search-bar {
    display: block;
    width: 400px;
    line-height: 24px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

