body {
    background: seagreen;
}

.main {
    display: flex;
    margin-top: 100px;
}

.google-logo {
    display: block;
    width: 300px;
}   

.google-search-bar {
    display: block;
    width: 400px;
}

