body {
    margin: 0;
    background-color: #586292;
}

:root {
    --scoreboard-bg-color: #1B244A;
    --scoreboard-border-color: black;
    --white-color: rgb(220, 220, 220);
    --black-color: rgb(23, 23, 23);
    --btn-color: #9AABD8;
    --title-color: #EEEEEE;
    --score-color: #F94F6D;
    
}

.btn{
    padding: 5px 10px;
    margin: 2px 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 20px;
    background-color: #1B244A;
    color: var(--btn-color);
    border: 2px solid var(--btn-color);
    border-radius: 5px;
}

.title-container, .score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.title-container {
    color: var(--title-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
}

.score-container {
    width: 150px;
    height: 100px;
    padding: 20px;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: bold;
    background-color: #181717;
    color: var(--score-color);
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 575px;
    height: 385px;
    margin: 100px auto;
    padding: 20px;
    
    border: 2px solid var(--scoreboard-border-color);
    background-color: var(--scoreboard-bg-color);
    color: var(--title-color);

    margin-bottom: 10px ;
}

.teams-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.team-container {
    margin: 10px; /* Reduced vertical margin */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%; /* Slightly less than 50% to fit */
}

.btn-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.new-game-container {
    margin-top: 20px;
}

.btn:hover {
    background-color: var(--btn-color);
    color: var(--scoreboard-bg-color);
    cursor: pointer;
}

.btn:active {
    background-color: var(--btn-color);
    color: var(--scoreboard-bg-color);
    box-shadow: 0 0 50px var(--btn-color);
    cursor: pointer;    
    border: 2px solid var(--btn-color);
}

.highlight {
    color: #F94F6D !important;
    text-shadow: 0 0 10px #F94F6D;
}

#end-game-btn {
    background-color: #F94F6D;
    color: var(--scoreboard-bg-color);
    border: 2px solid #F94F6D;
    margin-right: 20px;
}

#end-game-btn:hover {
    background-color: #d13650;
    border-color: #d13650;
    color: white;
}

#new-game-btn {
    background-color: var(--btn-color);
    color: var(--scoreboard-bg-color);
    border: 2px solid var(--btn-color);
}

#new-game-btn:hover {
    background-color: #7784a6;
    border-color: #7784a6;
    color: white;
}
