/* 
pink: #EFB0C9
blue: #a2d2ff
white: #ffffff
*/

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background-color: #a2d2ff;
    color: #ffffff;
}

#birthday-boy {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #EFB0C9;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;    
}

#bdy-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

#bdy-date {
    margin: 5px;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#body-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gift-cover{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 8px;
}

.gift-title{
    margin-bottom: 8px;
}

.gift-hint{
    margin-top: 2px;
    margin-bottom: 20px;
}

.happy-text{
    margin: 30px 0px 8px 0px;
}