/* 
pink: #EFB0C9
blue: #a2d2ff
white: #ffffff
*/

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background-color: #a2d2ff;
    color: #ffffff;
}

#birthday-boy {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #EFB0C9;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black; 
}