/* 
pink: #EFB0C9
blue: #a2d2ff
white: #ffffff
*/

.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background-color: #a2d2ff;
    color: #ffffff;
}

#birthday-boy {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #EFB0C9;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;    
}

#bdy-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

#bdy-date {
    margin: 5px;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#body-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gift-img{
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/074/788/550/small/bow-stripes-seamless-pattern-background-for-packaging-and-decoration-vector.jpg");
    background-size: cover;
    margin: 0px auto;
}

.gift-title{
    margin-bottom: 8px;
}

.gift-hint{
    margin-top: 2px;
    margin-bottom: 20px;
}

#first-gift:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmJzMjF6aWoyaWl3bjVrdDQ5dG0wNnB6amxuMm4xbTE0cmlkYmo1cyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/iiQoy4Y8bueVW/giphy.gif");
    background-size: cover;
}

#second-gift:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbXc5N2xjNGEwczdwZDhyd3B6ZXl0OXU0YzAxazd4ZTY3ZWZwYjgwdyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/tZO0zQKgYGz6Q2aA2h/giphy.gif");
    background-size: cover;
}

#third-gift:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbDdqZWM3emZvY3o2ODk4dGlocjhoMXgwdTJnM3N0ZDdyaHg3MGY1NiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/oNKLBehxbnoqY/giphy.gif");
    background-size: cover;
}


#fourth-gift:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOThrMnF5Y2NvOXRiZDh3eHBqOGg2a2h6NXI4d3k5ZTR6aXpzcXZrcyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3ov9jWu7BuHufyLs7m/giphy.gif");
    background-size: cover;
}

#fifth-gift:hover{
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2w5eDNkZ2JqZ3R3Z3Z6a3B4bjdvNTFkZTZqcWtraWFxODVzbWl6eiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/BPJmthQ3YRwD6QqcVD/giphy.gif");
    background-size: cover;
}

#fifth-gift{
    height: 200px;
}