body {
    margin: 20px;
}

.card{
    display: flex;
    gap: 20px;
    width: 600px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.profile-pic{
    width: 150px;
}

.blue-border{
    border: 2px dotted blue;
}